/* Pricing */
footer {
    background-color: #0073e6;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* services */
footer {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

 /* contacts */
 footer {
    background-color: #0073e6;
    color: white;
    padding: 20px;
    text-align: center;
 }

 .social-icons{
    margin-bottom: 10px;
 }

 .social-icons .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-size: contain;
    background-repeat: no-repeat;
 }

 .icon-facebook {
    background-image: url('facebook-icon.png');
 }

 .icon-twitter {
    background-image: url('twitter-icon.png');
 }

 .icon-instagram {
    background-image: url('instagram-icon.png');
 }

 .icon-tiktok {
    background-image: url('tiktok-icon.png');
 }

 /* About */
 footer {
    background-color: #0073e6;
    color: white;
    padding: 20px 0;
    text-align: center;
    justify-content: center;
 }

 /* Index */
  footer {
   background-color: #333;
   color: #fff;
   padding: 20px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   position: sticky;
   bottom: 0;
  }

  .footer-section {
   text-align: center;
  }

  .footer-section h2 {
   margin-bottom: 10px;
   font-size: 2em;
   font-size: 1.2em;
  }

  .footer-item {
   display: flex;
   align-items: center;
   margin: 5px 0;
  }

  .icon {
   width: 30px;
   height: 30px;
   margin-right: 10px;
  }

  .footer-item a {
   display: flex;
   align-items: center;
   margin: 5px 0;
  }

  .footer-item a:hover,
  .footer-item a:focus {
   color: #ffd700; /* change color on hover/touch */
  }

  .footer-item a:hover .icon,
  .footer-item a:focus .icon {
   filter: brightness(1.2); /* brighten icon on hover/touch */
  }

  .footer-section p, .footer-section a {
   margin-bottom: 5px;
   font-size: 1em;
   color: #fff;
   text-decoration: none;
  }

  .footer-section a img {
   width: 30px;
   height: 30px;
   margin: 0 5px;
  }

  .footer-section a:hover {
   opacity: 0.8;
  }

  .footer-copyright {
   text-align: center;
   width: 100%;
   margin-top: 10px;
  }

  .footer-item p {
   margin: 0;
   color: white;
  }

  .footer-item {
   margin: 0 20px;
  }